* {
  box-sizing: border-box;
}
:root {
  --primary: #fff;
  --secondary: rgb(18, 18, 18);
  --tertiary: rgb(116, 114, 114);
}
body {
  min-height: 100vh;
}

/* style the left side of the page */
.lside {
  background-color: var(--primary);
  min-height: 50vh;
}
.heading {
  color: var(--secondary);
  font-size: 2em;
  margin-top: 4em;
  text-transform: uppercase;
}

/* search box */
.search {
  background-color: rgb(237, 232, 226);
  border-radius: 10px;
  box-shadow: 0px 0px 35px -7px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.lastsearch > h2 {
  color: var(--tertiary);
}
.lastsearch-list {
  list-style-type: none;
  line-height: 1.5em;
  text-align: left;
  margin: 0;
  padding: 0;
}
.lastsearch-list > li {
  margin-bottom: 1em;
}

.city-list-btn {
  font-size: 1.5em;
  cursor: pointer;
  border: none;
  text-decoration: underline;
  text-transform: capitalize;
}

/*style right side / forcast display page */
.rside {
  display: none;
  /* background: -webkit-linear-gradient(
    bottom,
    rgb(255, 203, 112) 0%,
    rgb(107, 138, 169) 30%,
    rgb(1, 44, 87) 100%
  ); */
  min-height: 100vh;
  padding-left: 1.5em;

  /* background: var(--primary);
  background: linear-gradient(0deg, rgba(0, 0, 200, 0.2), rgba(0, 0, 200, 0)); */
}
/* .currentLocationDetails {
  padding: 10px;
} */
.location {
  margin-top: 2em;
  text-align: left;
  color: var(--secondary);
  font-size: 3em;
}
.currentforecast {
  text-align: center;
  background-color: var(--primary);
  border-radius: 10px;
  margin-bottom: 50px;

  position: relative;
  width: 100%;
}
.uvindex-display {
  display: flex;
}
.uvDivClass {
  margin-left: 5px;
  padding: 0 5px;
}

/* create 3 class with 3 different bg color to set into uv index 
-green for favorable
-orange for moderate
-red for severe
*/
.green {
  background-color: green;
}
.yellow {
  background-color: yellow;
}
.orange {
  background-color: orange;
}
.red {
  background-color: red;
}

#conditions {
  list-style-type: none;
  text-align: left;
  line-height: 1.5em;
  font-size: 1.7em;
  margin: 0;
  padding: 0;
}
.nextday {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 1em;
}

.eachdaybox {
  border: 1px solid var(--secondary);
  padding: 1em;
  margin: 0.5em;
  box-shadow: 0 1px 6px rgb(107, 138, 169), 0 1px 4px rgb(1, 44, 87);
  flex: 1;
}
